# created by virtualenv automatically
# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
.idea/
env/
venv/
build/
dist/
data/
docs/
documentation/

# --- Streamlit ---
# Ignore the credentials file but keep your config
src/.streamlit/secrets.toml

# --- OS Specific ---
.DS_Store
Thumbs.db
